
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.6rem;
}.desktop-1-3QU {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;

  .frame-1-FWY {
    box-sizing: border-box;
    padding: 2.471rem 0rem 0rem 7.05rem;
    width: 24.1rem;
    height: 86.8rem;
    overflow: hidden;
    position: relative;
    background-color: #ff7272;
    flex-shrink: 0;

    .telugu-1nY {
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      max-width: 20.8rem;
      text-align: center;
      font-size: 17.5rem;
    }
  }
  .frame-3-6JC {
    position: relative;
    background-color: #ffa767;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.482rem 0rem 2.482rem 8.4rem;
    width: 24.1rem;
    height: 86.8rem;
    overflow: hidden;

    .hindi-cXS {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      max-width: 18.1rem;
      text-align: center;
      font-size: 17.5rem;
      font-weight: 800;
      line-height: 1.2125;
    }
  }
  .frame-2-jrx {
    position: relative;
    background-color: #fffa84;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 11rem;
    width: 24.1rem;
    height: 86.8rem;
    overflow: hidden;

    .english-gXJ {
      text-align: center;
      font-size: 17.5rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      max-width: 15rem;
    }
  }
  .frame-4-orp {
    padding-left: 10.4rem;
    width: 24.1rem;
    height: 86.8rem;
    overflow: hidden;
    position: relative;
    background-color: #c1ff83;
    flex-shrink: 0;
    box-sizing: border-box;

    .maths-wi8 {
      font-size: 17.5rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      max-width: 16.2rem;
      text-align: center;
    }
  }
  .frame-5-gQp {
    position: relative;
    background-color: #b2e3ff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 9.3rem;
    width: 24.1rem;
    height: 86.8rem;
    overflow: hidden;

    .science-2ja {
      font-size: 17.5rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      max-width: 18.4rem;
      text-align: center;
    }
  }
  .frame-6-NHe {
    position: relative;
    background-color: #de82ff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 9.3006rem;
    height: 86.8rem;
    overflow: hidden;

    .social-5xk {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      max-width: 18.4rem;
      text-align: center;
      font-size: 17.5rem;
      font-weight: 800;
    }
  }
}
